.param-description {
  color: #666;
  cursor: help;
  font-size: 0.9em;
  transition: color 0.2s ease;
}

.param-description:hover {
  color: #29CCB1;
}

.neuron-params-title {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--text-primary);
  margin: 10px 0;
}

.neuron-param-label {
  font-weight: 600;
  color: #666;
  font-size: 0.9em;
  flex-shrink: 0; /* Запрещаем сжатие метки */
}

.neuron-param-label-container {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 270px; /* Такая же ширина как у neuron-param-label */
  flex-shrink: 0;
}

.neuron-param-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}



